:root {
  --label-font-size: 11px;
  --input-font-size: 14px;
  --error-font-size: 10px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.background {
  background-image: url('../assets/bg.jpeg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

p.photo-credit {
  position: fixed;
  bottom: 3px;
  left: 8px;
  color: white;
  font-size: 10px;
  background:rgba(119, 119, 119, 0.4);
  padding: 3px;
}

a.photo-credit:link,
a.photo-credit:visited,
a.photo-credit:active,
a.photo-credit:focus {
  text-decoration: none;
  color: rgb(237, 237, 237);
}

.overlay {
  background-color: rgb(200, 200, 200);
  width: 63%;
  height: 100vh;
  float: right;
}

.form-container {
  padding: 4vw 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container h1 {
  width: 100%;
}

.fields-section {
  padding: 15px 0;
  background-color: rgb(212, 212, 212);
  box-shadow: 2px 10px 8px rgb(190, 190, 190);
}

.fields-section > .form-row:last-child {
  margin-bottom: 0;
}

.fields-section + .form-row {
  margin-top: 30px;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  padding: 0 4vw;
}

.form-row > div {
  width: min(80%, 230px);
}

label {
  display: block;
  text-transform: uppercase;
  font-size: var(--label-font-size);
}

input {
  height: 30px;
  width: 100%;
  font-size: var(--input-font-size);
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid rgb(119, 119, 119);
}

input:focus {
  box-shadow: 3px 2px 2px rgb(84, 84, 94);
}

p.error-message {
  min-height: calc(var(--error-font-size) * 1.2);
  font-size: var(--error-font-size);
  color: rgb(224, 28, 28);
}

.error {
  background-color: rgb(255, 173, 173);
}

button {
  padding: 9px 19px;
  width: min(130px, 50%);
  background-color: rgb(81, 81, 81);
  color: white;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

a.login:link,
a.login:visited,
a.login:active,
a.login:focus {
  text-decoration: none;
  color: rgb(44, 44, 83);
}

a:hover {
  text-decoration: underline;
}

p.normal-text {
  font-size: 13px;
  padding-top: 2px;
}

@media screen and (max-width: 768px) {
  .overlay {
    width: 100vw;
  }

  p.photo-credit {
    visibility: hidden;
  }
}

@media screen and (max-width: 550px) {
  .form-row {
    flex-direction: column;
    gap: 15px;
  }
}