:root {
  --label-font-size: 11px;
  --input-font-size: 14px;
  --error-font-size: 10px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.background {
  background-image: url('../assets/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.overlay {
  background-color: rgb(200, 200, 200);
  width: 70%;
  height: 100vh;
  float: right;
}

.form-container {
  padding: 5vw;
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  width: 100%;
  margin: 20px 0;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
}

.form-row > div {
  width: min(80%, 230px);
}

label {
  display: block;
  text-transform: uppercase;
  font-size: var(--label-font-size);
}

input {
  height: 30px;
  width: 100%;
  font-size: var(--input-font-size);
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid rgb(119, 119, 119);
}

input:focus {
  box-shadow: 3px 2px 2px rgb(84, 84, 94);
}

p.error-message {
  min-height: calc(var(--error-font-size) * 1.2);
  font-size: var(--error-font-size);
  color: rgb(224, 28, 28);
}

.error {
  background-color: rgb(255, 173, 173);
}

button {
  padding: 8px 15px;
  background-color: rgb(81, 81, 81);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .overlay {
    width: 100vw;
  }
}

@media screen and (max-width: 550px) {
  .form-row {
    flex-direction: column;
    gap: 15px;
  }
}